.footer{
    padding: 20px;
    width: 100%;
    height: 40vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(245, 233, 233);
    
}
.addCart{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    button {
        background-color:#e7c8c8;
        color: #fff;
        border:none; 
        border-radius:10px; 
        padding:10px;
        margin: 10px;
        min-width: 30vh;
      }
}
.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgba($color: #000000, $alpha: .5);
    top: 0;
    right: 0;
    left: 0;
    
}
.showa{
    padding: 10px;
    position: absolute;
    background-color: rgb(245, 233, 233);
    width: 100vw;
    height: 40vh;
    bottom: 0;
    left: 0;
    right: 0;
    ion-icon{
        position: absolute;
        top:10px;
        right: 20px;
        //margin: 10px;
    }
    .done{
        width: 50px;
        height: 50px;
        background-color: aliceblue;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        margin-left: 7px;
        ion-icon{
            margin-top: 5px;
            margin-left: 7px;
         }
    }
}
.box_note{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    //width: 70%;
}
.container_note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
        margin-left: 10px;
    }
}
// .note{
//     width: 80%;
//     margin: 0 auto;
//     textarea{
//         padding: 5px;
//         width: 100%;
//         min-height: 7vh;
//     }
// }
.product{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 200;
    .img_product{
        width: 30%;
        img{
            width: 100%;
        }
    }
    .about_product{
        width: 65%;
    }
    .quantity{
        display: flex;
        align-items: center;
        span{
            padding: 0 5px 0 5px;
        }
    }
}
