.page-order-restaurant {
  min-height: 100vh;
  .order-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
    background-color: #fff;
    .order-return {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 6px;
      border: 1px solid #dddddd;
      img {
        height: 16px;
      }
    }
    .order-title {
      font-size: 20px;
    }
    .order-clear {
      font-size: 12px;
      background-color: #e9e9e9;
      color: #ff5d5d;
      border-radius: 6px;
      padding: 4px 8px;
    }
  }
  .order-header-area {
    height: 55px;
  }
  .order-footer-area {
    height: 115px;
  }
  .item-container {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
    margin: 12px 12px 0 12px;
    min-height: 75px;
    box-shadow: 0 0 8px rgba(63, 63, 70, 0.1);
    .lead-container {
      display: flex;
      align-items: center;
      img {
        height: 70px;
        width: 70px;
        border-radius: 4px;
      }
      .detail-container {
        margin-left: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .quantity-and-name {
          display: flex;
          .quantity {
            font-weight: 500;
            color: rgb(247, 148, 30);
            font-size: 14px;
            margin-right: 8px;
          }
          .name {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .price {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .trail-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .delete-div {
        width: min-content;
        background-color: #dddddd;
        border-radius: 4px;
        color: #444444;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 4px;
        img {
          height: 10px;
          width: 10px;
        }
      }
      .edit-text {
        color: rgb(247, 148, 30);
        font-size: 14px;
      }
    }
  }
  .bill-price-container {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    z-index: 20;
  }
  .confirm-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-top: 1px solid rgba(247, 149, 30, 0.5);
    .confirm-button {
      padding: 12px;
      background-color: rgb(247, 148, 30);
      border-radius: 8px;
      width: 90vw;
      text-align: center;
      color: #fff;
    }
  }
}
