.iconBorder{
    button{
        position: fixed;
        bottom: 3vh;
        top: auto;
        right: 6vw;
        border-radius: 30px;
        height: 60px;
        width: 60px;
        border: 2px solid #FE4D4D;
        display: flex;
        z-index: 51;
        .notificationCart{
            height: 21px;
            width: 21px;
            margin: -5px 0px 0 40px;
            background-color: #FE4D4D;
            border-radius: 11px;
            position: absolute;
            z-index: 51;
            p{
                margin:3px 0 0 2px ;
                color: #fff;
            }
        }
        img{
            margin:auto auto;
            height: 40px;
            // width: 55px;
            // padding-left: 1px;
            align-self: center;
        }
    }
}