body {
  padding: 0;
}

//top bar of cart
.topCart {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #b5adad;
}

.backButton {
  position: absolute;
  border: none;
  margin-left: 5%;
  padding: 0;
  min-height: 0;
  min-width: 0;
  background-color: transparent;

  img {
    max-height: 30px;
  }
}

.topTitle {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: 600;
}

.cartBody {
  margin-top: 5%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  margin-bottom: 320px;

  .cartItem {
    display: flex;
    height: 100px;
    width: 90%;
    margin: 3% auto 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);

    .cartImage {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 5%;
      margin-left: 5%;
      height: 80px;

      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 5px;
        background-color: #1abc9c;
      }
    }

    .cartInfo {
      position: relative;
      margin-top: 7px;
      margin-bottom: auto;

      h3 {}

      .itemQuantity {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        width: 80px;
        align-items: center;

        button {
          border: none;
          height: 20px;
          width: 20px;
          background-color: #fe4d4d;
          border-radius: 5px;

          img {
            padding-top: 3px;
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    .cartAssets {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      right: 8%;
      height: 100px;

      button {
        padding-top: 5px;
        width: 20px;
        border: none;
        background-color: transparent;

        img {
          height: 25px;
        }
      }

      h4 {
        display: inline-block;
        white-space: nowrap;
        color: #fe4d4d;
        padding-bottom: 15px;
      }
    }
  }
}

.cartTotal {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: auto;
  height: 300px;

  hr {
    margin: 2% auto 0 auto;
    width: 90%;
  }

  h2 {
    margin: 5% 0 0 5%;
  }

  p {
    margin: 5% 0 1% 5%;
  }

  .totalBill {
    display: flex;
    justify-content: space-between;

    p {
      margin-top: 3%;
      font-size: 16px;
    }
  }

  .cartNote {
    textarea {
      min-height: 70px;
      width: 90%;
      border-radius: 10px;
      border: 1px solid #fe4d4d;
      margin: 0% 5% 0 5%;
      font-size: 16px;
      padding: 2%;
    }

    p {
      margin-top: 0;
      font-size: 16px;
    }
  }
}

#totalPrice {
  color: #fe4d4d;
  margin-right: 5%;
}

.totalBillButton {
  background-color: #fe4d4d;
  color: #ffffff;
  justify-content: center;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  height: 51px;
  width: 70%;
  margin: 5% 15% 0 15%;
}

.sucessContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
  align-items: center;

  .sucessBox {
    position: absolute;
    display: block;
    z-index: 100;
    height: 15vh;
    width: 60vw;
    background-color: #f0f0f0;
    top: auto;
    bottom: 45vh;
    right: auto;
    left: 20vw;
    border-radius: 15px;

    .sucessPopup {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 22%;
      text-align: center;
      font-size: 2.1rem;
      width: 100%;
    }

    .confirmButtonGroup {
      display: flex;
      position: relative;
      justify-content: space-around;
      top: 28%;

      button {
        margin: 0;
      }
    }

    button {
      position: relative;
      top: 33%;
      text-align: center;
      height: 40px;
      width: 24vw;
      background-color: #fe4d4d;
      color: #f0f0f0;
      border: none;
      border-radius: 7px;
      margin: 0 auto 0 18vw;
    }
  }
}