body {
  padding: 0;
}

//top bar of cart
.topCart {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 60px;
  // padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #b5adad;
  background-color: #ffffff;
}

.backButton {
  position: absolute;
  border: none;
  margin-left: 5%;
  padding: 0;
  min-height: 0;
  min-width: 0;
  background-color: transparent;

  img {
    max-height: 30px;
  }
}

.topTitle {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: 600;
}

.choosePaymentBody {
  height: calc(100vh - 60px);
  max-width: 100vw;
  margin-top: 58px;
  background-color: #f1f2f6;

  .margintop {
    // height: 2px;
  }

  .guideOverlay {
    position: fixed;
    z-index: 200;
    margin-top: -60px;
    height: 100vh;
    width: 100vw;
    background-color: #747d8c;
    opacity: 0.7;
  }

  .guideBox {
    position: fixed;
    background-color: #fff;
    border: 1px solid #747d8c;
    min-width: 310px;
    width: 80%;
    top: 25%;
    left: 10%;
    z-index: 201;
    min-height: 150px;
    height: 30vh;
    border-radius: 10px;

    .guideTitle {
      font-size: 2rem;
      text-align: center;
      margin: 10px;
    }

    .guideStep1, .guideStep2, .guideStep3 {
      margin: 10px 0 10px 15px;
    }
    
    .understoodConfirmButton{
      position: absolute;
      background-color: #2ed573;
      width: 50%;
      margin-left: 25%;
      text-align: center;
      padding: 10px 0;
      border-radius: 10px;
      bottom: 20px;
      color: #fff;
    }
  }

  .PayByMoneyBox {
    position: relative;
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ced6e0;

    .PayByMoneyIconBorder {
      min-width: 40px;
      width: 15%;
      display: flex;
      justify-content: center;

      img {
        width: 40px;
      }
    }

    .PayByMoneyTitle {
      font-size: 1.8rem;
      margin-left: 10px;
    }

    .PickedIcon {
      position: absolute;
      right: 20px;

      img {
        margin-top: 5px;
        height: 20px;
      }
    }
  }

  .PayByBankBox {

    position: relative;
    background-color: #fff;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ced6e0;

    .PayByBankTopContainer {
      position: relative;
      display: flex;
      height: 60px;
      align-items: center;

      .PickedIcon {
        position: absolute;
        right: 20px;

        img {
          margin-top: 5px;
          height: 20px;
        }
      }

      .PayByBankIconBorder {
        min-width: 40px;
        width: 15%;
        display: flex;
        justify-content: center;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .PayByBankTitle {
        font-size: 1.8rem;
        margin-left: 10px;
      }
    }

    .PayByBankBottomContainer {
      min-height: 80vh;

      .AddImage{
        font-size: 1.7rem;
        // font-weight: 600;
        border: none;
        width: 90%;
        margin-left: 5%;
        background-color: #f04d4d;
        color: #fff;
        border-radius: 10px;
        .custom-file{
          // padding: 10px;
          label{
            display: block;
            padding: 10px;
            width: 100%;
          }
        }
      }
      .active{
        background-color: #2ed573;
      }

      input{
        display: none;
      }
      .BankListItem {
        min-width: 300px;
        width: 90%;
        margin: 10px auto;
        border: 1px solid #bdc3c7;
        border-radius: 10px;
        .BankName {
          padding: 10px;
        }

        .BankQRCode {
          display: flex;
          justify-content: center;

          img {
            width: 80%;
            max-width: 200px;
          }
        }

        .BankID {
          margin: 10px;
          display: flex;
          justify-content: center;

          img {
            height: 25px;
            margin-left: 10px;
          }
        }

        .BankOwnerName {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
        }
      }
    }
  }

}

#confirmPaymentButton {
  height: 60px;
  min-width: 140px;
  width: 80%;
  left: 10%;
  font-size: 2rem;
  position: fixed;
  bottom: 40px;
  background-color: #2ed573;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
}

.cartBody {
  margin-top: 58px;
  padding-top: 2%;
  min-height: 80vh;
  height: auto !important;
  // width: 110%;
  min-width: 330px;
  margin-bottom: 299px;
  background-color: #f1f2f6;

  .cartItem {
    display: flex;
    width: 90%;
    min-width: 320px;
    min-height: 100px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);

    .cartImage {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 5%;
      margin-left: 5%;
      height: 80px;

      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 5px;
        background-color: #1abc9c;
      }
    }

    .cartInfo {
      position: relative;
      margin-top: 7px;
      margin-bottom: auto;
      min-width: fit-content;
      min-height: 84px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        width: 45vw;
        min-width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }

      .itemQuantity {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        width: 80px;
        align-items: center;
        position: sticky;
        bottom: 0;

        button {
          border: none;
          height: 24px;
          width: 24px;
          background-color: #fff;
          border: #1BAC4B 1px solid;
          border-radius: 5px;

          img {
            padding-top: 3px;
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    .cartAssets {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: sticky;
      left: auto;
      right: 27px;
      min-height: 100px;
      width: 100%;

      button {
        padding-top: 5px;
        width: 20px;
        border: none;
        background-color: transparent;

        img {
          height: 25px;
        }
      }

      h4 {
        display: inline-block;
        white-space: nowrap;
        color: #f04d4d;
        padding-bottom: 5px;
      }
    }
  }
}

.cartTotal {
  position: fixed;
  width: 100%;
  bottom: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: auto;
  height: 300px;

  hr {
    margin: 2% auto 0 auto;
    width: 90%;
  }

  h2 {
    margin: 5% 0 0 5%;
  }

  p {
    margin: 5% 0 1% 5%;
  }

  .totalBill {
    display: flex;
    justify-content: space-between;

    p {
      margin-top: 3%;
      font-size: 16px;
    }
  }

  .cartNote {
    textarea {
      min-height: 70px;
      width: 90%;
      border-radius: 10px;
      border: 1px solid #1BAC4B;
      margin: 0% 5% 0 5%;
      font-size: 16px;
      padding: 2%;
    }

    p {
      margin-top: 0;
      font-size: 16px;
    }
  }
}

#totalPrice {
  color: #f04d4d;
  margin-right: 6%;
}

.totalBillButton {
  background-color: #1BAC4B;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  height: 51px;
  width: 70%;
  margin: 5% 15% 0 15%;
}

.successContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;

  button {
    position: relative;
    top: 33%;
    text-align: center;
    height: 40px;
    width: 24vw;
    background-color: #1BAC4B;
    color: #f0f0f0;
    border: none;
    border-radius: 7px;
    margin: 0 auto 0 18vw;
  }

  .failBox {
    min-height: fit-content;
    position: absolute;
    display: block;
    z-index: 100;
    // height: 23vh;
    width: 80vw;
    background-color: #f0f0f0;
    top: auto;
    bottom: 43vh;
    right: auto;
    left: 10vw;
    border-radius: 15px;

    .failPopup {
      padding: 5%;
      position: relative;
      text-align: center;
      font-size: 1.8rem;
      width: 90%;
      margin: auto;
    }
  }

  .successBox {
    position: absolute;
    display: block;
    z-index: 100;
    min-height: 130px;
    height: fit-content;
    width: 60vw;
    background-color: #f0f0f0;
    top: auto;
    bottom: 45vh;
    right: auto;
    left: 20vw;
    border-radius: 15px;
    animation: slideFromTop 0.3s;

    .returnButton {
      top: 0;
      position: sticky;
    }

    .UnableReturnButton {
      top: 0;
      position: sticky;
      text-align: center;
      height: 40px;
      width: 24vw;
      background-color: #1BAC4B;
      color: #f0f0f0;
      border: none;
      border-radius: 7px;
      margin: 10px auto 15px 18vw;
    }
  }

  .successPopup {
    display: inline-block;
    text-align: center;
    font-size: 2.1rem;
    width: 100%;
    height: 60px;
    margin-top: 7%;
  }

  .confirmButtonGroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;

    button {
      margin: 0;
    }

    .cancelButton {
      background-color: #ffffff;
      border: 1px solid #1BAC4B;
      color: #1BAC4B;
    }
  }


}

.loadingOverlay {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --trans-dur: 0.3s;
  position: fixed;
  z-index: 150;
  background-color: var(--bg);
  color: var(--fg);
  font: 1em/1.5 "DM Sans", sans-serif;
  height: calc(100vh - 60px);
  top: 60px;
  width: 100vw;
  display: grid;
  place-items: center;
  pointer-events: none;
  transition:
    background-color var(--trans-dur),
    color var(--trans-dur);

}

.cartSpecial {
  .biWrapper {
    img {
      position: fixed;
    }
  }
}


.preloader {
  text-align: center;
  max-width: 20em;
  width: 100%;
}

.preloader__text {
  position: relative;
  height: 1.5em;
}

.preloader__msg {
  animation: msg 0.3s 13.7s linear forwards;
  position: absolute;
  width: 100%;
}

.preloader__msg--last {
  animation-direction: reverse;
  animation-delay: 14s;
  visibility: hidden;
}

.cart {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 8em;
  height: 8em;
}

.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
  animation: cartLines 2s ease-in-out infinite;
}

.cart__lines {
  stroke: #1BAC4B;
}

.cart__top {
  animation-name: cartTop;
}

.cart__wheel1 {
  animation-name: cartWheel1;
  transform: rotate(-0.25turn);
  transform-origin: 43px 111px;
}

.cart__wheel2 {
  animation-name: cartWheel2;
  transform: rotate(0.25turn);
  transform-origin: 102px 111px;
}

.cart__wheel-stroke {
  animation-name: cartWheelStroke
}

.cart__track {
  stroke: hsla(var(--hue), 10%, 10%, 0.1);
  transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }

  .cart__track {
    // stroke: hsla(var(--hue), 10%, 90%, 0.1);
  }
}

/* Animations */
@keyframes msg {
  from {
    opacity: 1;
    visibility: visible;
  }

  99.9% {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes cartLines {

  from,
  to {
    opacity: 0;
  }

  8%,
  92% {
    opacity: 1;
  }
}

@keyframes cartTop {
  from {
    stroke-dashoffset: -338;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 338;
  }
}

@keyframes cartWheel1 {
  from {
    transform: rotate(-0.25turn);
  }

  to {
    transform: rotate(2.75turn);
  }
}

@keyframes cartWheel2 {
  from {
    transform: rotate(0.25turn);
  }

  to {
    transform: rotate(3.25turn);
  }
}

@keyframes cartWheelStroke {

  from,
  to {
    stroke-dashoffset: 81.68;
  }

  50% {
    stroke-dashoffset: 40.84;
  }
}