// *{
//     box-sizing: border-box;
//     margin-left: auto;
//     margin-right: auto;
// }
.topBar{
    display: flex;
    margin-top:33px ;
    height: 51px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 /20%);
    img{
        height: 51px;
        max-width: 136px;
        background-color: #FE4D4D;
    }
}
.homePage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	
}
.adsBanner{
    margin-top: 39px;
    width: 324px;
    height: 187px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);
}
.yourTable{
    // margin-bottom: -10px;
    width: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 0 rgb(0 0 0 /20%);
    span{
        margin-bottom: -12px;
        position: relative;
        color:#625B5B;
        background-color: #FFFFFF;
    }
}

.homeButton{
    margin-top: 70px;
    width: 324px;
    height: 76px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #FE4D4D;
    background-color: #FFFFFF;
    color: #FE4D4D;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);
    img{
        width: 50px;
        height: 50px;
        background-color: black;
        color: #FFFFFF;
        margin-right: 10px;
    }
    span{
        margin-left: 10px;
    }   

}

#secondButton{
    margin-top: 18px;
    background-color: #FE4D4D;
    color: #FFFFFF;
    justify-content: center;
}
p{  
    margin-top: 28px;
    font-size: 20px;
    color: #939393;
}
#introduce{
    margin-top: 190px;
    font-size: 20px;
    color: #939393;
}