.banner-container {
  margin: 0 16px;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 180px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 0 4px;
  }
}
.page_home_restaurant {
  .page--content {
    background-color: #f9f9f9;
    height: 100vh;
    .restaurant-info-container {
      padding: 12px 16px;
      .name {
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
      }
      .address {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        img {
          height: 16px;
          width: 16px;
          margin-right: 4px;
        }
      }
    }
    .flag-1-1 {
      padding: 10px 0;
      .user-info {
        display: flex;
        justify-content: center;
        font-weight: 600;
        line-height: 20px;
        .hello {
          font-style: normal;
          margin-right: 4px;
        }
        .name {
          color: rgb(62, 116, 255);
          font-style: normal;
        }
      }
      .table-info {
        margin-top: 8px;
        padding: 0px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          margin-right: 4px;
        }
        .table {
          padding: 1px 8px;
          border-radius: 13px;
          background-color: #fff;
          font-style: normal;
          letter-spacing: 0;
          text-align: center;
          border: 1px solid #000;
          font-size: 13px;
          font-weight: 600;
          line-height: 17.68px;
        }
      }
    }
    .interaction--container {
      margin: 0 16px;
      display: flex;
      justify-content: space-around;
    }
  }
  .menu-navigate-button {
    background-color: #e84545;
    margin: 0 16px;
    margin-top: 12px;
    display: flex;
    padding: 16px;
    border-radius: 16px;
    align-items: center;
    color: #fff;
    .image-icon {
      height: 60px;
      width: 60px;
      background-color: #c40c0c;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      img {
        border-radius: 8px;
      }
    }
    .text-description-menu {
      font-weight: 500;
    }
  }
}
