@keyframes blink {
    0% {
        scale: 1;
    }
    25%{
        scale: 1.2;
    }
    50% {
      scale: 1;
    }
    75%{
        scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }
  
  .blink-animation {
    animation: blink 1s 1s;
  }

@keyframes slideFromTop {
    0%{
        opacity: 0;
        transform: translateY(-20%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.successContainer {
    .staffBox {
        position: absolute;
        display: block;
        z-index: 100;
        height: 150px;
        width: 70vw;
        background-color: #f0f0f0;
        top: calc(50% - 75px);
        bottom: auto;
        right: auto;
        left: 15vw;
        border-radius: 15px;
        animation: slideFromLeft 0.3s;

        .staffPopup {
            height: 60px;
            margin-top: 12%;
            text-align: center;
            font-size: 2.1rem;
            width: 100%;

        }
    }

    .needHelpBox {
        position: absolute;
        display: block;
        z-index: 100;
        min-height: 150px;
        height: fit-content;
        width: 70vw;
        background-color: #f0f0f0;
        top: auto;
        bottom: 40vh;
        right: auto;
        left: 15vw;
        border-radius: 15px;

        .needHelpPopup {
            height: 60px;
            margin-top: 12%;
            text-align: center;
            font-size: 2.1rem;
            width: 100%;
            // padding-bottom: 10px;
        }

        .confirmButtonGroup {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}

.homePage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fdfefd;
}

// space for ads
.adsBanner {
    margin-top: 39px;
    min-width: 320px;
    max-width: fit-content;
    min-height: 187px;
    width: 86%;
    height: 24%;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);
    margin-left: auto;
    margin-right: auto;
}

//display what your table number
.yourTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
    border-bottom: 1px solid grey;
    margin-top: 30px;
    span {
        padding: 5px;
        position: relative;
        color: #625B5B;
        background-color: #fff;
        font-size: 1.4em;
        width: 60%;
        min-width: max-content;
        text-align: center;
    }
    #coverBottom{
        margin-bottom: -15px;
        font-size: 1.2em;
    }
}

// for both 2 button
.homeButton {
    margin-top: 4vh;
    width: 75vw;
    min-width: max-content;
    height: 75px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #1BAC4B;
    background-color: #FFFFFF;
    color: #1BAC4B;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgb(0 0 0 /20%);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    img {
        width: 50px;
        height: 50px;
        background-color: black;
        color: #FFFFFF;
        margin-right: 20px;
        margin-left: 20px;
    }
}

//overwrite for secondbutton
#secondButton {
    margin-top: 18px;
    background-color: #1BAC4B;
    color: #FFFFFF;
    min-width: 264px;
}

// p{  
//     margin-top: 28px;
//     font-size: 20px;
//     color: #939393;
// }
#introduce {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    font-size: 2rem;
    color: #939393;
}

.homeGroup {
    bottom: -35%;
}

.getNameOverlay{
    position: fixed;
    z-index: 100;
    background-color: #b5adad;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
 
.getNameBox{
    background-color: #FFF;
    border-radius: 10px;
    position: fixed;
    z-index: 150;
    height: max-content;
    width: 80%;
    top: 35%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: slideFromLeft 0.3s;
    .getNameTitle{
        font-weight: 600;
        font-size: 2.5rem;
        padding: 10px 0;
    }
    .getNameQuestion{
        
    }
    input{
        border: 1px dashed #FE4D4D;
        border-radius: 8px;
        height: 50px;
        font-size: 1.8rem;
        width: 90%;
        padding-left: 10px;
    }
    .getNameNote{
        padding: 10px 0;
        width: 90%;
        font-size: 1.3rem;
        span{
            color: #FE4D4D;
        }
    }
    .getNameButton{
        margin: 10px 0;
        text-align: center;
        // height: 40px;
        // width: 24vw;
        padding: 13px;
        background-color: #fe4d4d;
        color: #f0f0f0;
        border: none;
        border-radius: 7px;
    }
}