.backArrow{
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 15px;
    img{
        height: 30px;
        width: 30px;
    }
}
.bhWrapper {
    background-color: #ecf0f1;
    min-height: calc(100vh - 60px);
}

.marginTop {
    min-height: 20px;
}

#billNav {
    position: relative;
    background-color: transparent;
    top: 10px;
}

nav {
    .navBox {
        display: flex;
        margin-left: 5%;
        margin-top: 20px;
        .navElement {    
            button {
                width: 45vw;
                min-width: 101px;
            }
            .billButton{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .requestButton{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .picked {
                background-color: #1BAC4B;
                color: #fff;
            }

        }
    }
}

.billEmptyNote {
    font-size: 2rem;
    margin: 30px auto;
    width: max-content;
}

.bhContent {
    background-color: #fff;
    width: 90%;
    margin: 30px auto;
    display: flex;
    border: 1px black solid;
    border-radius: 9px;
    flex-wrap: wrap;

    .bhContainer1 {
        padding: 7px;
        width: 50%;
        div{
            padding: 2px;
        }
    }

    .bhContainer2 {
        padding: 7px;
        width: 50%;
        text-align: end;
        div{
            padding: 5px;
        }
        span {
            color: #f04d4d;
        }
        .bhStatusBillCancel{
            color: #f04d4d;
            text-decoration: line-through;
        }
        .bhStatusBillWaiting{
            color: #3498db;
        }
        .bhCancelButton{
            button{
                border: none;
                padding: 7px 10px;
                background-color: #f04d4d;
                color: #ecf0f1;
                border-radius: 5px;
            }
        }
        .bhStatusBillDone{
            color: #1BAC4B;
        }
    }

    .bhContainer3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 60px;
        // margin-top: 20px;
        padding: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid;
        .container3Title{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed ;
            margin-bottom: 5px;
            .container3Name{
                width: 75%;
            }
            .container3Quantity{
                width: 25%;
                text-align: center;
            }
        }
        .container3Content {
            border-bottom: #f04d4d dashed 1px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 5px 0;
            .container3Name{
                width: 75%;
            }
            .container3Quantity{
                width: 25%;
                text-align:end;
            }
            .container3TotalPrice1{
                font-size: 1.3rem;
                align-self: center;
            }
            .container3TotalPrice2{
                color: #f04d4d;
            }
        }
        .container3Note{
            margin-top: 10px;
            width: 100%;
        }
        :last-child{
            border-bottom: none;
        }

    }
}

.rqContent{
    display: flex;
    width: 85%;
    margin: 20px auto;
    border: 1px solid ;
    border-radius: 8px;
    .rqItem{
        width: 75%;
        padding: 5px;
        .rqName{
            word-wrap: break-word;
        }
        
    }
    .rqTime{
        border-left: 1px dashed;
        width: 40%;
        min-width: 100px;
        padding: 5px;
        span{
            color: #f04d4d;
        }
    }
}