@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,700;0,800;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;1,100;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary: #333;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}