.MenuBody {
    background-color: #f3f0f0;
    // padding: 20px 5% 20vh 5%;
    // position: relative;
}

.loadNote {
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ecf0f1;

    img {
        height: 200px;
        width: 200px;
        top: 35vh;
        left: 24vw;
        position: absolute;
    }

    p {
        position: absolute;
        top: 32vh;
        left: 25vw;
    }
}

.header_container {
    display: flex;

}

.filter {
    font-size: 20px;
    display: flex;
    padding: 5px;
    min-width: 15%;
    background-color: #fff;
    color: black;
    align-items: center;
    justify-content: center;
}

.search {
    margin-left: 10px;
    padding: 5px;
    flex: 1;
    background-color: #fff;
    color: black;
}

.search input {
    width: 100%;
    border: none;
    padding: 5px;

}

.tiltle_container {
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
}

.tiltle_container a {
    font-size: 1.2rem;
    color: red;
    margin-top: 2px;
    margin-right: 1vw;
}

.food_best_deal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    .box_food_1 {
        //width: 40%;
        background-color: #fff;
        cursor: pointer;
        height: 22vh;
        min-height: 185px;
        width: 40vw;
        // border-radius: 10px;
        box-shadow: 0px 10px 6px -6px #999999;
        margin-bottom: 2vh;

        .imageBorder {
            height: 14vh;
            min-height: 120px;
            img {
                width: 100%;
                height: 100%;
                // border-radius: 7px;
                object-fit: cover;
            }
        }

        .about_food {
            padding-top: 10px;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p {
                width: 36vw;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                font-size: 1.6rem;
                margin-top: 0.5vh;
                // font-weight: 300;
            }

            span {
                color: red;
                font-size: 1.2rem;
                // font-weight: 500;
            }
        }
    }
}

.title_choose {
    padding-left: 3vw;
    padding-right: 3vw;

    h3 {}

    margin-top: 5%;
    margin-bottom: 3%;
    // padding-top: 10px;
}

nav {
    width: 100%;
}

.Category_chose::-webkit-scrollbar {
    display: none;
}
.Category_chose {
    background-color: #f3f0f0;
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 0.5rem;
    padding-left: 15px;
    padding-right: 20px;
    max-width: 100vw;
    min-height: 40px;
    // -webkit-overflow-scrolling: ;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    .active {
        background-color: #f04d4d;
        color: #fff;
        font-size: 1.6rem;
    }

    button {
        min-height: 35px;
        padding: 7px;
        border-radius: 5px;
        min-width: 80px;
        border: none;
        background-color: #fff;  
        color: #1e90ff;
        display: inline-block;
        margin-right: 2vw
    }
}

.categoryContent {
    margin-top: 20%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 5vh;
    .boxFoodWrapper {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        background-color: #fff;
        //border-bottom: 0.5px solid #333;
        box-shadow: 0px 5px 10px 0px #999999;
        padding: 7px;
        align-items: center;
        border-radius: 15px;
        .boxFoodImage {
            width: 30vw;
            height: 10vh;
            min-height: 85px;    
            img {
                border-radius: 10px;
                width: 100%;
                height: 10vh;
                min-height: 85px;
                object-fit: cover;
            }
        }

        .boxFoodAbout {
            height: 10vh;
            min-height: 85px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 55vw;
            h4{
                width: 53vw;
                font-size: 1.8rem;
                // text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
            p{
                font-size: 1.3rem;
                color: #7A7474;
            }
            span {
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0;
                color: #f04d4d;
            }
        }
    }
}
.overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    top: 0;
    right: 0;
    left: 0;
}
