.page-menu-restaurant {
  min-height: 120vh;
  background-color: #f5f5f5;
  .menu-top-bar {
    background-color: #fff;
    display: flex;
    padding: 8px 0;
    align-items: center;
    position: fixed;
    width: 100%;
    .return-home-container {
      background-color: #f5f5f5;
      height: 36px;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      margin-left: 10px;
      img {
        height: 24px;
        width: 24px;
      }
    }
    .search-component {
      background-color: #f5f5f5;
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-right: 10px;
      height: 36px;
      border-radius: 4px;
      img {
        height: 20px;
        margin: 0 8px;
      }
      input {
        border: none;
        width: 100%;
        background-color: transparent;
        font-size: 16px;
      }
    }
  }
  .category-container {
    position: fixed;
    margin-top: 52px;
    padding: 12px 0;
    background-color: #f5f5f5;
    z-index: 20;
    .embla {
      max-width: 100vw;
      margin: auto;
      --slide-height: 19rem;
      --slide-spacing: 1rem;
      --slide-size: 15rem;
    }
    .embla__viewport {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 var(--slide-size);
      min-width: 0;
      padding-left: var(--slide-spacing);
      .embla__slide__number {
        background-color: #fff;
        padding: 8px 8px;
        border-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        text-align: center;
        text-transform: capitalize;
        box-shadow: 0 0 8px rgba(63, 63, 70, 0.1);
      }
      .active {
        background-color: #ed9455;
        color: #fff;
      }
    }
  }

  .menu-content-body {
    background-color: #f5f5f5;
    margin-bottom: 50px;
    .header-area {
      height: 112px;
    }
    .dish-list-container {
      margin: 0 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .dish-container {
        box-shadow: 0 0 8px rgba(63, 63, 70, 0.1);
        width: calc(50% - 4px);
        margin: 16px 0;
        background-color: #fff;
        border-radius: 16px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .image-container {
          height: calc(50vw - 30px);
          background-color: transparent;
          border-radius: 12px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 12px;
          }
        }
        .dish-name {
          margin-top: 8px;
          font-size: 15px;
          padding: 4px 8px;
          font-weight: 500;
        }
        .price-and-plus {
          margin-top: 8px;
          padding: 4px 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dish-price {
            font-size: 12px;
            font-weight: 600;
            color: #ed9455;
          }
          .dish-add-to-cart {
            background-color: #ed9455;
            border-radius: 16px;
            display: flex;
            padding: 4px;
            align-items: center;
            img {
              height: 16px;
              width: 16px;
            }
          }
          .action-with-item-in-cart {
            display: flex;
            align-items: center;
            :first-child {
              background-color: #f5f5f5;
            }
            :last-child {
              img {
                background-color: #ed9455;
              }
            }
            .cartQuantity {
              padding: 0 8px;
            }
          }
        }
      }
    }
    .bottom-cart-bar {
      z-index: 20;
      position: fixed;
      background-color: #f7941e;
      display: flex;
      bottom: 0;
      width: 100vw;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 16px;
      div {
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
